.header-profile-wrapper {
  border-radius: 50px;
}

.header-profile-wrapper:hover {
  background-color: var(--hover-primary);
}

.header-profile {
  cursor: pointer;
  width: 100%;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 0 1rem; */
  padding: 12px;
}

.header-profile-avatar {
  width: 40px;
  height: 40px;
}

.header-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 1;
  margin-left: 12px;
  margin-right: 12px;
}

.header-profile-setting {
  margin-left: auto;
}

.header-profile-info-name {
  font-size: 16px;
  font-weight: 700;
}

.header-profile-info-username {
  font-size: 14px;
  color: var(--text-secondary);
}

.header-profile-setting-icon {
  color: var(--text-primary);
  height: 1.25rem;
}
