.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100dvh;
}

.header-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  z-index: 3;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1050px;
}

.content-container {
  min-width: 600px;
  border-left: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
}

.sidebar-container {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 4.375rem;
}
