:root {
  --bg-primary: rgb(255, 255, 255);
  --text-primary: #000;
  --text-secondary: #666;
  --text-inverse: #ffffff;
  --border-light: rgb(239, 243, 244);
  --button-primary: #1d9bf0;
  --button-secondary: #000000;
  --hover-primary: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000;
    --text-primary: #ededed;
    --text-secondary: #999;
    --text-inverse: #ffffff;
    --border-light: #333;
    --button-primary: #1d9bf0;
    --button-secondary: #909090;
    --hover-primary: rgba(255, 255, 255, 0.05);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
