.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-container {
  flex-grow: 2;
  flex-shrink: 1;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1050px;
}
