/* Header 樣式 */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.header-position {
  position: relative;
  width: 275px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background);
  width: inherit;
  height: 100%;
  padding: 0 0.5rem;

  position: fixed;
  top: 0;
  z-index: 3;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  padding: 1rem;
  width: 150px;
  height: auto;
}

.line {
  width: 3px;
  background: var(--border-light);
  display: inline-block;
  height: 25px;
  margin: 0 15px;
}

.header-tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-tab {
  width: 100%;
  flex-grow: 1;
}
.header-tab:not(:last-child):after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
}

.header-post {
  min-width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.header-post-button {
  width: 100%;
  min-height: 52px;
  background: var(--button-secondary);
  color: var(--text-inverse);
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;

  display: flex;
}

.header-post-button-content {
  flex: 1;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
