.dropdown-wrapper {
  position: relative;
  /* display: inline-block; */
}

.menu {
  position: absolute;
  top: 100%;
  background: var(--bg-primary);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  min-width: 120px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.menu-left {
  left: 0;
}

.menu-right {
  right: 0;
}

.menu-item {
  padding: 0.75rem 1rem;
  border: none;
  background: transparent;
  color: var(--text-primary);
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  width: 100%;
}

.menu-item:hover {
  background-color: var(--border-light);
}
