/* Header 樣式 */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  position: relative;
}

.header-position {
  position: relative;
  width: 275px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--background);
  width: inherit;
  height: 100%;
  padding: 0 0.5rem;

  position: fixed;
  top: 0;
  z-index: 3;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.header-profile {
}

.logo {
  padding: 1rem;
  width: 150px;
  height: auto;
}

.line {
  width: 3px;
  background: var(--border-light);
  display: inline-block;
  height: 25px;
  margin: 0 15px;
}

.header-tabs {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 1rem;
}

.header-tabs:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: red;
}

.header-tab {
  position: relative;
  text-decoration: none;
  color: var(--text-tertiary);
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.header-tab:not(:last-child):after {
  content: "";
  display: inline-block;
  align-self: stretch;
  width: 2px;
  background: red;
  margin-left: 1rem;
}

.header-tab:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
