.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.sidebar-relative {
  position: relative;
  height: 53px;
  width: 100%;
}

.sidebar-fixed {
  position: fixed;

  top: 0;
  z-index: 3;
  height: inherit;
  width: 350px;
  background-color: var(--bg-primary);
}
